* {
  margin: 0;
  box-sizing: border-box;
}

.appMain {
  margin-top: -50px;
  height: 80rem;
  padding-top: 8%;
} 

.appMain > img {
  height: 10rem;
  width: 10rem;
}

.contentContainer {
  display: flex;
  justify-content: flex-end;
  margin-top: -115px;
  height: 950px;
  width: 1400px;
}

.pokePlacer{
  width: 900px;
  height: 650px;
  margin-top: 150px;
  margin-right: 140px;
}